<%- include header %>
<form method="post">
    USER:<input type="text" name="name"><br/>
    PASSWORD:<input type="password" name="password"><br/>
    <button type="submit">Log in</button>
</form>
<%- include footer%>